.image-segment {
    align-items: center;
    justify-content: center;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    > * {
        width: 100%;
    }
}